body {
  background-color: #374151;
}

.app {
  text-align: left;
  font-family: sans-serif;
  padding: 1rem;
}

.header {
  display: flex;
  align-items: flex-start;
}

.header-right-section {
  margin-left: auto;
}

.game-instructions {
  color: #fef3c7;
  font-style: italic;
  font-synthesis: style;
}

h1 {
  margin-top: 0;
  color: #fef3c7;
}

.scoreboard {
  font-size: 1.2rem;
  font-weight: bold;
  margin-bottom: 1rem;
  color: #fef3c7;
}

.scoreboard p {
  margin: 0;
}

.card-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
  gap: 1rem;
  padding: 1rem;
}

.card {
  background: #f1f5f9;
  border-radius: 8px;
  padding: 0.5rem;
  box-shadow: 0 0 5px #ccc;
  cursor: pointer;
  transition: transform 0.2s ease;
  aspect-ratio: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.card:hover {
  transform: scale(1.05);
}

.card-image {
  width: 100%;
  flex-grow: 1;
  object-fit: cover;
  border-radius: 4px;
  min-height: 0;
}

.card-name {
  margin-top: 0.25rem;
  font-weight: bold;
  color: #ea580c;
  text-align: center;
  font-size: 0.8em;
  flex-shrink: 0;
}
